---
const { title } = Astro.props
---

<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<script>
</script>

<style>
  section {
    max-width: 700px;
    margin: 0 0 48px 0;
  }

  h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: var(--accent);
    font-family: var(--font-mono);
    text-align: left;
  }

  @media (width <= 700px) {
    section {
      margin-bottom: 38px;
    }
  }
</style>